<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3><%= @client.client_name %>さんの詳細</h3>
  </div>
</div>

<div class="col-md-8 offset-md-1 card_box">
  <div id="client_infomation_content">
    <h3>利用者情報</h3>
    <div class="row justify-content-center">
      <div class="mb-3 mb-lg-0 ml-3 col-12 col-lg-3">
        <%= image_tag @client.get_client_image(100, 100), class: "rounded-circle" %>
      </div>
      <div class="col-lg-8 mt-auto d-flex justify-content-between">
        <%= link_to "メニュー設定", therapist_client_client_menus_path(@client), class: "mb-2 d-block btn btn-primary btn-md" %>
        <%= link_to "記録確認", therapist_client_client_records_path(@client), class: "mb-2 d-block btn btn-warning btn-md" %>
        <%= link_to "チャット", therapist_client_chat_path(@client), class: "mb-2 d-block btn btn_pink btn-md" %>
      </div>
    </div>
   </div>
  <div class="row justify-content-center">
    <table class="table table-borderless col-10 mt-3">
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">お名前</th>
        <td class="d-block d-md-table-cell td_responsive"><%= @client.client_name %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">フリガナ</th>
        <td class="d-block d-md-table-cell td_responsive"><%= @client.client_name_kana %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">リハゴール</th>
        <td class="d-block d-md-table-cell td_responsive"><%= @client.purpose %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">メールアドレス</th>
        <td class="d-block d-md-table-cell td_responsive"><%= @client.email %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">ステータス</th>
        <td class="d-block d-md-table-cell td_responsive"><%= render "admin/clients/client_status", client: @client %></td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-md-end">
    <div class="col-6 ml-auto col-md-4">
      <%= link_to "編集", edit_therapist_client_path, class: "btn btn-lg btn-success mr-3" %>
    </div>
  </div>
</div>



