<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3><%= @client.client_name %>さんの詳細</h3>
  </div>
</div>

<div class="col-md-8 offset-md-1 card_box">
  <div id="client_infomation_content">
  <h3>クライアント情報</h3>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= image_tag @client.get_client_image(100, 100), class: "rounded-circle" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <table class="table table-borderless col-10 mt-3">
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">お名前</th>
        <td class="d-block d-md-table-cell"><%= @client.client_name %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">フリガナ</th>
        <td class="d-block d-md-table-cell"><%= @client.client_name_kana %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">リハゴール</th>
        <td class="d-block d-md-table-cell"><%= @client.purpose %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">メールアドレス</th>
        <td class="d-block d-md-table-cell"><%= @client.email %></td>
      </tr>
      <tr>
        <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">ステータス</th>
        <td class="d-block d-md-table-cell"><%= render "admin/clients/client_status", client: @client %></td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
    <!--<div class="col-5 ml-auto col-md-4">-->
      <%= link_to "編集する", edit_therapist_client_path, class: "btn btn-md btn-success mr-3" %>
      <%= link_to "メニューを設定する", therapist_client_client_menus_path(@client), class: "btn btn-success btn-md mr-3" %>
      <%= link_to "記録を見る", therapist_client_client_records_path(@client), class: "btn btn-info btn-md mr-3" %>
      <%= link_to "チャットをする", therapist_client_chat_path(@client), class: "btn btn-info btn-md" %>
    <!--</div>-->
    </div>
  </div>
</div>



