<div class="row mt-5">
  <div class="col-12 mb-3">
    <h4>クライアント情報編集</h4>
  </div>
</div>
<%= form_with model: @client, url: admin_client_path, local: true do |f| %>
  <%= render "layouts/errors", obj: @client %>
  <div class="mb-3 field">
    <%= f.label :client, "ID", class: "col-1 col-lg-2" %>
    <%= @client.id %>
  </div>
  <div class="mb-3 field">
    <%= f.label :last_name, "氏名", class: "col-lg-2" %>
    <%= f.text_field :last_name, autofocus: true, class: "col-5 col-lg-3" %>
    <%= f.text_field :first_name, class: "col-5 col-lg-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :last_name_kana, "フリガナ", class: "col-lg-2" %>
    <%= f.text_field :last_name_kana, class: "col-5 col-lg-3" %>
    <%= f.text_field :first_name_kana, class: "col-5 col-lg-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :purpose,"リハビリ目的", class: "col-lg-2" %>
    <%= f.text_field :purpose, class: "col-10 col-lg-3", placeholder: "目的を記述してください" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :email, "メールアドレス", class: "col-lg-2" %>
    <%= f.text_field :email, class: "col-10 col-lg-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :is_deleted, "ステータス", class: "col-lg-2" %>
    <%= f.radio_button :is_deleted, :false, checked: true %>
    <%= f.label :is_deleted, "利用中" %>
    <%= f.radio_button :is_deleted, :true, class: "ml-3" %>
    <%= f.label :is_deleted, "終了" %>
  </div>
  <div class="field">
  <%= f.submit "変更を保存", class: "btn btn-success btn-md ml-3" %>
  </div>
<% end %>