<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>クライアント一覧</h3>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-borderless text-nowrap">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>担当セラピスト</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= link_to client.client_name, admin_client_path(client), class: "text-dark text-decoration-none" %></td>
          <td><%= client.email %></td>
          <td><%= link_to client.therapist.therapist_name, admin_therapist_path(client.therapist), class: "text-dark text-decoration-none" %></td>
          <th><%= render "admin/clients/client_status", client: client %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @clients %>
</div>