<div class="row mt-5">
  <div class="col-12 mb-3">
    <h4>クライアント詳細</h4>
  </div>
</div>
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td><%= @client.id%></td>
    </tr>
    <tr>
      <th scope="row">氏名</th>
      <td><%= @client.client_name %></td>
    </tr>
    <tr>
      <th scope="row">フリガナ</th>
      <td><%= @client.client_name_kana %></td>
    </tr>
    <tr>
      <th scope="row">リハビリ目的</th>
      <td><%= @client.purpose %></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <th scope="row">ステータス</th>
      <td><%= render "admin/clients/client_status", client: @client %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to "編集する", edit_admin_client_path, class: "btn btn-success btn-md" %></td>
    </tr>
  </tbody>
</table>