<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>リハビリ記録</h3>
  </div>
</div>
<h4>本日のリハビリ合計時間は、<%= RehabiliTime.rehabili_time_to_sentence(@today_rehabili_time) %>です</h4>
<div class="card_box" >
  <%= form_with model: @rehabili_time, local: true do |f| %>
    <%= f.label :record_time, "リハビリ時間計測" %>
    <%= f.text_field :record_time, readonly: true, value: @initial_value, id: "clock", class: "col-12 col-md-3 my-2" %>
    <%= button_tag '開始', type: 'button', id: "start" %>
    <%= button_tag '停止', disabled: true, type: 'button', id: "stop" %>
    <%= button_tag '再開', disabled: true, type: 'button', id: "restart" %>
    <%= button_tag 'リセット', disabled: true, type: 'button', id: "reset" %>
    <%= f.submit("登録", class: "btn btn-info my-2") %>
  <% end %>
</div>

<h4>リハビリ合計時間の前日比</h4>
  <div class="table-responsive">
  <table class="table table-bordered text-nowrap">
    <thead>
      <th>今日のリハビリ合計時間</th>
      <th>前日のリハビリ合計時間</th>
      <th>前日比</th>
    </thead>
    <tbody>
      <td><%= RehabiliTime.rehabili_time_to_sentence(@today_rehabili_time) %></td>
      <td><%=  RehabiliTime.rehabili_time_to_sentence(@yesterday_rehabili_time) %></td>
      <td><%= @the_day_before_per %></td>
    </tbody>
  </table>
</div>

<div class="card_box" >
  <h4>これまでのリハビリ合計時間</h4>
  <%=  RehabiliTime.rehabili_time_to_sentence(@total_rehabili_time) %>
</div>