<h3>セラピスト情報</h3>
<div class="row justify-content-center">
  <div class="col-10">
    <%= image_tag therapist.get_therapist_image(100, 100), class: "rounded-circle" %>
  </div>
</div>
<div class="row justify-content-center">
  <table class="table table-borderless col-10 mt-3">
    <tr>
      <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">お名前</th>
      <td class="d-block d-md-table-cell"><%= therapist.therapist_name %></td>
    </tr>
    <tr>
      <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">フリガナ</th>
      <td class="d-block d-md-table-cell"><%= therapist.therapist_name_kana %></td>
    </tr>
    <tr>
      <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">メールアドレス</th>
      <td class="d-block d-md-table-cell"><%= therapist.email %></td>
    </tr>
  </table>
</div>
<div class="row justify-content-md-end">
  <div class="col-5 ml-auto col-md-4 ml-md-0">
    <%= link_to "チャットする", chat_path(current_client.id), class: "btn btn-md btn-info" %>
  </div>
</div>
