<div class="row mt-3">
  <div class="col-12">
    <h4 class="mb-3">マイページ</h4>
    <div class="row">
      <div class="col-2">
        <h5 class="font-weight-bold">登録情報</h5>
      </div>
      <%= link_to "編集する", clients_information_edit_path, class: "btn btn-md btn-success" %>
    </div>
    <div class="row">
      <table class="table table-bordered col-8 mt-3">
        <tr>
          <th class="table-active col-3">お名前</th>
          <td><%= current_client.last_name + current_client.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">フリガナ</th>
          <td><%= current_client.last_name_kana + current_client.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">リハビリ目的</th>
          <td><%= current_client.purpose %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= current_client.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
