<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>マイページ</h3>
  </div>
</div>
<div class=row>
  <div class="col-md-3">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">登録情報</th>
        </tr>
      </thead>
      <tbody>
        <tr><td id="basic_infomation" role="button">基本情報</td></tr>
        <tr><td id="therapist_infomation" role="button">セラピスト情報</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 offset-md-1 card_box">
    <div id="basic_infomation_content">
      <h3>基本情報</h3>
      <div class="row justify-content-center">
        <div class="col-10">
          <%= image_tag current_client.get_client_image(100, 100), class: "rounded-circle" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <table class="table table-borderless col-10 mt-3">
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">お名前</th>
            <td class="d-block d-md-table-cell td_responsive"><%= current_client.client_name %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">フリガナ</th>
            <td class="d-block d-md-table-cell td_responsive"><%= current_client.client_name_kana %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">リハゴール</th>
            <td class="d-block d-md-table-cell td_responsive"><%= current_client.purpose %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">メールアドレス</th>
            <td class="d-block d-md-table-cell td_responsive"><%= current_client.email %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">担当セラピスト</th>
            <td class="d-block d-md-table-cell td_responsive"><%= current_client.therapist.therapist_name %></td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-md-end">
        <div class="col-5 ml-auto col-md-4">
          <%= link_to "編集", clients_information_edit_path, class: "btn btn-lg btn-success" %>
        </div>
      </div>
    </div>

    <div id="therapist_infomation_content" class="d-none">
      <h3>セラピスト情報</h3>
      <div class="row justify-content-center">
        <div class="col-10">
          <%= image_tag  @therapist.get_therapist_image(100, 100), class: "rounded-circle" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <table class="table table-borderless col-10 mt-3">
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">お名前</th>
            <td class="d-block d-md-table-cell td_responsive"><%= @therapist.therapist_name %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">フリガナ</th>
            <td class="d-block d-md-table-cell td_responsive"><%= @therapist.therapist_name_kana %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3 th_responsive">メールアドレス</th>
            <td class="d-block d-md-table-cell td_responsive"><%= @therapist.email %></td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-md-end">
        <div class="col-6 ml-auto col-md-4 ml-md-0">
          <%= link_to "チャット", chat_path(current_client), class: "btn btn-lg btn_pink" %>
        </div>
      </div>
    </div>
  </div>
</div>