<div class="row mt-5">
  <div class="mb-3">
    <h4>クライアント詳細</h4>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">基本情報</li>
        <li class="list-group-item">パスワード</li>
        <li class="list-group-item">記録</li>
        <li class="list-group-item"></li>
      </ul>
    </div>
  </div>
  <div class="col-8">
      <%= image_tag current_client.get_client_image(100, 100), class: "d-block ml-5 rounded-circle" %>
    <table class="table table-borderless col-6 mt-3">
      <tr>
        <th scope="row">お名前</th>
        <td><%= current_client.last_name + current_client.first_name %></td>
      </tr>
      <tr>
        <th scope="row">フリガナ</th>
        <td><%= current_client.last_name_kana + current_client.first_name_kana %></td>
      </tr>
      <tr>
        <th scope="row">リハゴール</th>
        <td><%= current_client.purpose %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= current_client.email %></td>
      </tr>
      <tr>
        <th scope="row">担当セラピスト</th>
        <td><%= current_client.therapist.therapist_name %></td>
      </tr>
    </table>
    <%= link_to "編集する", clients_information_edit_path, class: "btn btn-md btn-success" %>
    <%= link_to "チャットをする", chat_path(current_client.id), class: "btn btn-md btn-info" %>
  </div>
</div>