<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>マイページ</h3>
  </div>
</div>


  <div class="col-md-8 offset-md-1 profile_card">
    <div id="basic_infomation_content">
      <h3>基本情報</h3>
      <div class="row justify-content-center">
        <div class="col-10">
          <%= image_tag current_therapist.get_therapist_image(100, 100), class: "rounded-circle" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <table class="table table-borderless col-10 mt-3">
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">お名前</th>
            <td class="d-block d-md-table-cell"><%= current_therapist.therapist_name %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">フリガナ</th>
            <td class="d-block d-md-table-cell"><%= current_therapist.therapist_name_kana %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">メールアドレス</th>
            <td class="d-block d-md-table-cell"><%= current_therapist.email %></td>
          </tr>
          <tr>
            <th scope="row" class="d-block d-md-table-cell col-lg-4 col-xl-3">担当クライアント</th>
            <td class="d-block d-md-table-cell"><%= current_therapist.clients.count %>人</td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-md-end">
        <div class="col-5 ml-auto col-md-4">
          <%= link_to "編集する", therapist_information_edit_path, class: "btn btn-md btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
