<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3><%= @therapist.therapist_name %>さんとのチャット</h3>
  </div>
</div>

<div>
  <% @chats.each do |chat| %>
    <% if chat.client_id == current_client.id %>
      <div class="d-flex justify-content-end">
        <%= image_tag current_client.get_client_image(50, 50), class: "mb-2 rounded-circle" %>
      </div>
      <div class="d-flex justify-content-end">
        <p class="text-left my_chat mr-5 mb-0">
          <%= chat.message %><br>
          <%#= chat.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <p class="text-left mr-5">
          <%= chat.created_at.strftime('%H:%M') %>
        </p>
      </div>
    <% else %>
      <div class="d-flex justify-content-start">
        <%= image_tag @therapist.get_therapist_image(50, 50), class: "mb-2 rounded-circle" %>
      </div>
      <div class="d-flex justify-content-start">
        <p class="another_chat ml-5">
          <%= chat.message %><br>
          <%= chat.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "layouts/errors", obj: @chat %>
<%= form_with model: @chat, local: true, class: "mb-3 d-flex justify-content-center" do |f| %>
  <%= f.text_field :message, placeholder: "メッセージを入力してください", class: "message" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "送信", class: "btn btn-info" %>
<% end %>