<div class="row mt-5">
  <div class="col-lg-11 col-9 mb-3">
    <h3>セラピスト一覧</h3>
  </div>
  <div class="col-lg-1 col-3">
    <%= link_to new_therapist_invitation_path do %>
      <div class="new-btn">
        <i class="fas fa-plus"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="table-responsive">
  <table class="table text-nowrap table-hover table-borderless">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>担当クライアント数</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @therapists.each do |therapist| %>
        <tr>
          <td><%= therapist.id %></td>
          <td><%= link_to therapist.therapist_name, admin_therapist_path(therapist), class: "text-dark text-decoration-none" %></td>
          <td><%= therapist.email %></td>
          <td><%= therapist.clients.count %>人</td>
          <th><%= render "admin/therapists/therapist_status", therapist: therapist %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @therapists %>
</div>
