<div class="row mt-5">
  <div class="col-md-11 col-sm-10 col-12 mb-3">
    <h3>担当利用者一覧</h3>
  </div>
  <div class="col-md-1 col-2 px-0 ml-auto">
    <%= link_to new_client_invitation_path do %>
      <div class="new-btn">
        <i class="fas fa-plus"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="table-responsive">
  <table class="table text-nowrap table-hover table-borderless">
    <thead>
      <tr>
        <th>お名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.client_name, therapist_client_path(client), class: "text-dark text-decoration-none" %></td>
          <td><%= client.email %></td>
          <td><%= render "admin/clients/client_status", client: client %></td>
          <td>
            <span class="chat_notification">
              <%= link_to "チャット", therapist_client_chat_path(client, client), class: "btn btn_pink btn-md" %>
              <% if Notification.therapist_notifications_count(client, current_therapist) > 0 %>
                <span class="therapist_top_chat_notification chat_notification_mark"><%= Notification.therapist_notifications_count(client, current_therapist) %></span>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @clients %>
</div>
