<!--デフォルトではattributeがstar_timeとなっているが、client_menusテーブルのカラム名(start_date)に変更-->
<!--eventsで日付とclient_menuを紐付けている-->
<%= month_calendar(attribute: :start_date, events: client_menus) do |date, client_menus| %>
  <!--クライアント側とセラピスト側の処理で場合分け-->
  <% if current_therapist.present? %>
    <%= link_to therapist_client_client_record_path(client, date), class: "text-decoration-none" do %>
      <%= date.day %>
    <% end %>
  <% else %>
    <%= link_to client_record_path(date), class: "text-decoration-none" do %>
      <%= date.day %>
    <% end %>
  <% end %>

  <% case conditions[date] %>
  <% when 1 %>
    <i class="far fa-laugh-beam"></i>
  <% when 2 %>
    <i class="far fa-smile"></i>
  <% when 3 %>
    <i class="far fa-frown"></i>
  <% end %>

  <div>
    <% count = 0 %>
    <% client_menus.each do |client_menu| %>
      <% if client_menu.is_completed == true %>
        <% count += 1 %>
      <% end %>
    <% end %>
    <% if count > 3 %>
      <%= image_tag "big_muscle.png", size: "40x40" %>
    <% else %>
      <% count.times do %>
        <%= image_tag "small_muscle.png", size: "20x20" %>
      <% end %>
    <% end %>
  </div>
<% end %>