<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3><%= t "devise.invitations.edit.header" %></h3>
  </div>
</div>

<div class="card_box">
  <%= form_with model: @therapist, url: therapist_invitation_path, method: :put do |f| %>
    <%= render "layouts/errors", obj: @therapist %>
    <%= f.hidden_field :invitation_token, readonly: true %>

    <% if f.object.class.require_password_on_accepting %>
      <div class="field row mb-3">
        <%= f.label :password, class: "col-12 col-md-4 col-lg-3" %><br />
        <%= f.password_field :password, class: "ml-3 ml-md-0 col-md-8 col-lg-3" %>
      </div>

      <div class="field row mb-3">
        <%= f.label :password_confirmation, value: "パスワード(確認用)", class: "col-12 col-md-4 col-lg-3" %><br />
        <%= f.password_field :password_confirmation, class: "ml-3 ml-md-0 col-md-8 col-lg-3" %>
      </div>
    <% end %>

    <div class="actions form-group d-flex justify-content-end">
      <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-success btn-md' %>
    </div>
  <% end %>
</div>