<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>セラピストを<%= t "devise.invitations.new.header" %></h3>
  </div>
</div>

<div class="card_box">
  <%= form_with model: @therapist, url: therapist_invitation_path, local: true do |f| %>
    <%= render "layouts/errors", obj: @therapist %>
    <div class="field row mb-3">
      <%= f.label :last_name, "名前", class: "col-12 col-md-2 col-lg-2" %>
      <%= f.label :last_name,"(姓)", class: "col-3 col-md-2 col-lg-1" %>
      <%= f.text_field :last_name, autofocus: true, class: "col-3 col-md-3 col-lg-3" %>
      <%= f.label :first_name,"(名)", class: "col-3 col-md-2 col-lg-1" %>
      <%= f.text_field :first_name, class: "col-3 col-md-3 col-lg-3" %>
    </div>
    <div class="field row mb-3">
      <%= f.label :last_name_kana,"フリガナ", class: "col-12 col-md-2 col-lg-2" %>
      <%= f.label :last_name_kana,"(セイ)", class: "pr-0 col-3 col-md-2 col-lg-1" %>
      <%= f.text_field :last_name_kana, class: "col-3 col-md-3 col-lg-3" %>
      <%= f.label :first_name_kana,"(メイ)", class: "pr-0 col-3 col-md-2 col-lg-1" %>
      <%= f.text_field :first_name_kana, class: "col-3 col-md-3 col-lg-3" %>
    </div>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="field row mb-3">
        <%= f.label field, class: "col-12 col-md-4 col-lg-3" %><br />
        <%= f.text_field field, class: "ml-3 ml-md-0 col-md-8 col-lg-3" %>
      </div>
    <% end -%>

    <div class="actions form-group d-flex justify-content-end">
      <%= f.submit t("devise.invitations.new.submit_button"),class: 'btn btn-success btn-md' %>
    </div>
  <% end %>
</div>