<div class="card_box">
  <h4>体調</h4>
  <%= form_with model: client_record, local: true do |f| %>
    <div class="client_record form-group col-12">
      <%= f.radio_button :condition, 1, checked: true %>
      <%= f.label :condition, "良い" %>
      <%= f.radio_button :condition, 2 %>
      <%= f.label :condition, "普通" %>
      <%= f.radio_button :condition, 3 %>
      <%= f.label :condition, "悪い" %>
    </div>

    <h4>やったメニューチェック</h4>
    <div class="client_record form-group col-12">
      <% client_menus.each do |client_menu| %>
        <!--チェックがない場合は、falseを送る-->
        <%= hidden_field_tag "client_menus[#{client_menu.id}]", false %>
        <div>
          <!--チェックがある場合はtrueを送る-->
          <!--第一引数 : name, 第二引数 : 送信値, 第三引数 : 初期値(client_menu.is_completed), 第四引数 : オプション-->
          <%= check_box_tag "client_menus[#{client_menu.id}]", true, client_menu.is_completed, {} %>
          <label class="mr-3">
            <%= link_to menu_path(client_menu.menu), class: "text-dark text-decoration-none" do %>
              <%= client_menu.menu.menu_name %>
            <% end %>
          </label>
        </div>
      <% end %>
    </div>

    <h4>今日の一言</h4>
    <div class="form-group col-12">
      <%= f.text_area :comment, rows: "3", placeholder: "頑張れたことや、困ったことがありましたら、お書きください。", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :record_date, value: day %>
    </div>
    <div class="row justify-content-md-end">
      <div class="col-5 ml-auto col-md-2 ml-md-0">
        <div class="form-group">
          <%= f.submit "更新", class: "btn btn_update btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>