<%= form_with model: therapist, url: admin_therapist_path, method: :patch, local: false do |f| %>
  <%= render "layouts/errors", obj: therapist %>
  <div class="mb-3 field">
    <%= f.label :therapist, "セラピストID", class: "col-2" %>
    <%= therapist.id %>
  </div>
  <div class="mb-3 field">
    <%= f.label :last_name, "氏名", class: "col-2" %>
    <%= f.text_field :last_name, autofocus: true, class: "col-3" %>
    <%= f.text_field :first_name, class: "col-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :last_name_kana, "フリガナ", class: "col-2" %>
    <%= f.text_field :last_name_kana, class: "col-3" %>
    <%= f.text_field :first_name_kana, class: "col-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :email, "メールアドレス", class: "col-2" %>
    <%= f.text_field :email, class: "col-3" %>
  </div>
  <div class="mb-3 field">
    <%= f.label :is_deleted, "セラピストステータス", class: "col-2" %>
    <%= f.radio_button :is_deleted, :false, checked: true %>
    <%= f.label :is_deleted, "有効" %>
    <%= f.radio_button :is_deleted, :true, class: "ml-3" %>
    <%= f.label :is_deleted, "退会" %>
  </div>
  <%= f.submit "変更を保存", class: "btn btn-success btn-md" %>
<% end %>