<div class="row mt-5">
  <div class="col-12 mb-3">
    <h4>セラピスト詳細</h4>
  </div>
</div>
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td><%= @therapist.id%></td>
    </tr>
    <tr>
      <th scope="row">氏名</th>
      <td><%= @therapist.last_name %><%= @therapist.first_name %></td>
    </tr>
    <tr>
      <th scope="row">フリガナ</th>
      <td><%= @therapist.therapist_name_kana %></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @therapist.email %></td>
    </tr>
    <tr>
      <th scope="row">ステータス</th>
      <td><%= render "admin/therapists/therapist_status", therapist: @therapist %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to "編集する", edit_admin_therapist_path, class: "btn btn-success btn-md" %></td>
    </tr>
  </tbody>
</table>